# Collect the two dataset : University & Country Profile

In [3]:
import pandas as pd
df_uni = pd.read_csv(r'qs-world-university-rankings-2017-to-2022-V2.csv')
data = pd.read_csv('country_profile_variables.csv')

# Clean the dataset of University

In [4]:
# Check if 'link' and 'logo' columns exist in the dataframe and drop it 
if 'link' in df_uni.columns and 'logo' in df_uni.columns:
    # Drop 'link' and 'logo' columns
    df_uni = df_uni.drop(['link', 'logo'], axis=1)

df_uni

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,United States,Cambridge,North America,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,United States,Stanford,North America,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,United States,Cambridge,North America,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6477,Université de Tunis,2022,1201,NaN,Tunisia,Tunis,Africa,Public,High,17.0,57,L,"1,174"
6478,Université de Tunis El Manar,2022,1201,NaN,Tunisia,Tunis,Africa,Public,Very High,8.0,585,L,"3,504"
6479,Yarmouk University,2022,1201,NaN,Jordan,Irbid,Asia,Public,Medium,31.0,"2,826",XL,"1,113"
6480,Yildiz Technical University,2022,1201,NaN,Turkey,Istanbul,Asia,Public,High,20.0,"2,394",XL,"1,688"
6481,Zagazig University,2022,1201,NaN,Egypt,Zagazig,Africa,Public,High,26.0,"2,300",XL,"5,871"

In [5]:
# make these column to numeric 
df_uni['rank_display'] = pd.to_numeric(df_uni['rank_display'], errors='coerce')
df_uni['score'] = pd.to_numeric(df_uni['score'], errors='coerce')
# df_uni['international_students'] = pd.to_numeric(df_uni['international_students'], errors='coerce')

In [6]:
# only take the top 100 universities
df_rank_100 = df_uni[df_uni['rank_display'] <= 100]

In [7]:
# make a new dataframe filter year = 2017  our main dataset
df_2017 = df_rank_100[df_rank_100['year'] == 2017]
df_2017

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1.0,100.0,United States,Cambridge,North America,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2.0,98.7,United States,Stanford,North America,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3.0,98.3,United States,Cambridge,North America,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4.0,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5.0,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,KTH Royal Institute of Technology,2017,97.0,63.1,Sweden,Stockholm,Europe,Public,Very High,8.0,"3,057",L,"3,600"
97,Uppsala University,2017,98.0,62.8,Sweden,Uppsala,Europe,Public,Very High,10.0,"8,401",L,"2,843"
98,Korea University,2017,98.0,62.8,South Korea,Seoul,Asia,Private,Very High,6.0,"3,325",L,"4,026"
99,"Trinity College Dublin, The University of Dublin",2017,98.0,62.8,Ireland,Dublin,Europe,Public,Very High,12.0,"5,593",L,"1,383"
100,"KIT, Karlsruhe Institute of Technology",2017,98.0,62.8,Germany,Karlsruhe,Europe,Public,Very High,10.0,"5,030",L,"2,080"

In [8]:
df_2017['country'].unique()

array(['United States', 'United Kingdom', 'Switzerland', 'Singapore',
       'Australia', 'China (Mainland)', 'Hong Kong SAR', 'Canada',
       'France', 'Japan', 'South Korea', 'Netherlands', 'Germany',
       'Taiwan', 'Denmark', 'Sweden', 'Belgium', 'New Zealand',
       'Argentina', 'Finland', 'Ireland'], dtype=object)

# Clean the data of country profile

In [9]:
country_profile = pd.read_csv('country_profile_variables.csv')

In [10]:
# Convert columns to numeric
for col in country_profile.columns[2:]:
    country_profile[col] = pd.to_numeric(country_profile[col], errors='coerce')

In [11]:
country_profile

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864.0,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,NaN,63,5,NaN,NaN,21.43,-99
1,Albania,SouthernEurope,28748.0,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,NaN,84,36,NaN,NaN,2.96,-99
2,Algeria,NorthernAfrica,2381741.0,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,NaN,5900,55,NaN,NaN,0.05,-99
3,American Samoa,Polynesia,199.0,56,278.2,103.6,-99,-99.0,-99.0,-99.0,...,-99.0,92,87.9,-99.0,-99,-99,NaN,NaN,-99.00,-99
4,Andorra,SouthernEurope,468.0,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,NaN,1,119,NaN,NaN,-99.00,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Wallis and Futuna Islands,Polynesia,142.0,12,84.1,93.4,-99,-99.0,-99.0,-99.0,...,9.0,89,41.6,NaN,-99,26,-99.0,-99.0,-99.00,-99
225,Western Sahara,NorthernAfrica,266000.0,553,2.1,110.1,-99,-99.0,-99.0,-99.0,...,-99.0,49,2.7,-99.0,-99,-99,-99.0,-99.0,-99.00,-99
226,Yemen,WesternAsia,527968.0,28250,53.5,102.1,29688,-28.1,1106.4,14.7,...,25.1,298,1.0,NaN,668,12,NaN,NaN,2.99,-99
227,Zambia,EasternAfrica,752612.0,17094,23.0,98.5,21255,2.9,1311.1,8.2,...,21.0,88,65.6,NaN,374,26,NaN,NaN,3.96,-99
228,Zimbabwe,EasternAfrica,390757.0,16530,42.7,95.0,13893,1.1,890.4,13.0,...,16.4,89,37.2,NaN,482,30,NaN,NaN,6.00,-99

In [17]:
# Replace country names in the country_profile dataframe to match the country names in the df_2017 dataframe
country_profile['country'].replace({'China': 'China (Mainland)', 'Democratic People\'s Republic of Korea': 'South Korea', 'United States of America': 'United States', 'China, Hong Kong SAR':'Hong Kong SAR'}, inplace=True)

/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_33923/704202223.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  country_profile['country'].replace({'China': 'China (Mainland)', 'Democratic People\'s Republic of Korea': 'South Korea', 'United States of America': 'United States', 'China, Hong Kong SAR':'Hong Kong SAR'}, inplace=True)

# Merge two dataset to one

In [18]:
# create a function to merge two datasets
def merge_dataset(df_2017, country_profile, key='country'):
    # Merge two datasets
    # df1: DataFrame 1
    # df2: DataFrame 2
    # key: column to merge on
    # return: merged DataFrame
    return pd.merge(df_2017, country_profile, on=key, how = 'left')

In [19]:
# Merge two datasets
new_df = merge_dataset(df_2017, country_profile, key='country')
pd.set_option('display.max_columns', None)
new_df

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),Employment: Agriculture (% of employed),Employment: Industry (% of employed),Employment: Services (% of employed),Unemployment (% of labour force),Labour force participation (female/male pop. %),Agricultural production index (2004-2006=100),Food production index (2004-2006=100),International trade: Exports (million US$),International trade: Imports (million US$),International trade: Balance (million US$),"Balance of payments, current account (million US$)",Population growth rate (average annual %),Urban population (% of total population),Urban population growth rate (average annual %),"Fertility rate, total (live births per woman)","Life expectancy at birth (females/males, years)","Population age distribution (0-14 / 60+ years, %)",International migrant stock (000/% of total pop.),Refugees and others of concern to UNHCR (in thousands),Infant mortality rate (per 1000 live births,Health: Total expenditure (% of GDP),Health: Physicians (per 1000 pop.),Education: Government expenditure (% of GDP),Education: Primary gross enrol. ratio (f/m per 100 pop.),Education: Secondary gross enrol. ratio (f/m per 100 pop.),Education: Tertiary gross enrol. ratio (f/m per 100 pop.),Seats held by women in national parliaments %,Mobile-cellular subscriptions (per 100 inhabitants),Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Massachusetts Institute of Technology (MIT),2017,1.0,100.0,United States,Cambridge,North America,Private,Very High,4.0,"3,730",M,"3,065",NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
1,Stanford University,2017,2.0,98.7,United States,Stanford,North America,Private,Very High,3.0,"3,879",L,"4,725",NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
2,Harvard University,2017,3.0,98.3,United States,Cambridge,North America,Private,Very High,5.0,"5,877",L,"4,646",NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
3,University of Cambridge,2017,4.0,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,"7,925",L,"5,800",NorthernEurope,242495.0,66182.0,273.6,97.4,2858003.0,2.2,44162.4,0.7,19.4,79.9,1.2,18.4,80.4,5.0,NaN,108.0,108.0,415856.0,635570.0,-219713.0,-122571.0,0.6,82.6,0.9,1.9,NaN,NaN,NaN,151.7,4.1,9.1,2.8,5.7,NaN,NaN,NaN,30.0,125.8,92.0,102.0,12.9,NaN,4482.0,116.0,NaN,NaN,-99.0,-99.0
4,California Institute of Technology (Caltech),2017,5.0,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968,NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,KTH Royal Institute of Technology,2017,97.0,63.1,Sweden,Stockholm,Europe,Public,Very High,8.0,"3,057",L,"3,600",NorthernEurope,438574.0,9911.0,24.2,100.2,495694.0,4.1,50687.5,1.3,26.3,72.4,1.8,18.2,79.9,7.3,NaN,100.0,100.0,139574.0,140838.0,-1263.0,23250.0,0.8,85.8,0.8,1.9,NaN,NaN,NaN,348.5,2.4,11.9,4.1,7.7,NaN,NaN,NaN,43.6,130.4,90.6,54.0,68.9,NaN,1428.0,206.0,NaN,NaN,-99.0,-99.0
97,Uppsala University,2017,98.0,62.8,Sweden,Uppsala,Europe,Public,Very High,10.0,"8,401",L,"2,843",NorthernEurope,438574.0,9911.0,24.2,100.2,495694.0,4.1,50687.5,1.3,26.3,72.4,1.8,18.2,79.9,7.3,NaN,100.0,100.0,139574.0,140838.0,-1263.0,23250.0,0.8,85.8,0.8,1.9,NaN,NaN,NaN,348.5,2.4,11.9,4.1,7.7,NaN,NaN,NaN,43.6,130.4,90.6,54.0,68.9,NaN,1428.0,206.0,NaN,NaN,-99.0,-99.0
98,Korea University,2017,98.0,62.8,South Korea,Seoul,Asia,Private,Very High,6.0,"3,325",L,"4,026",EasternAsia,120538.0,25491.0,211.7,95.7,16283.0,-1.1,648.0,21.6,46.2,32.2,58.9,19.3,21.8,4.3,NaN,104.0,103.0,1010.0,2757.0,-1748.0,-99.0,0.5,60.9,0.7,2.0,NaN,NaN,NaN,-99.0,18.5,-99.0,2.8,-99.0,NaN,NaN,NaN,16.3,12.9,0.0,78.0,42.8,NaN,871.0,20.0,NaN,NaN,-99.0,-99.0
99,"Trinity College Dublin, The University of Dublin",2017,98.0,62.8,Ireland,Dublin,Europe,Public,Very High,12.0,"5,593",L,"1,383",NorthernEurope,69797.0,4762.0,69.1,98.4,283716.0,26.3,60513.6,1.0,41.7,57.3,4.8,17.7,77.4,7.6,NaN,102.0,102.0,129315.0,76997.0,52318.0,28967.0,0.3,63.2,1.6,2.0,NaN,NaN,NaN,10.5,3.4,7.8,2.8,5.3,NaN,NaN,NaN,22.2,103.7,80.1,50.0,10.9,NaN,84.0,114.0,NaN,NaN,-99.0,-99.0
100,"KIT, Karlsruhe Institute of Technology",2017,98.0,62.8,Germany,Karlsruhe,Europe,Public,Very High,10.0,"5,030",L,"2,080",WesternEurope,357376.0,82114.0,235.6,97.0,3363600.0,1.7,41686.2,0.6,30.5,68.9,1.4,27.5,71.2,4.2,NaN,111.0,111.0,1340752.0,1060672.0,280080.0,279969.0,0.2,75.3,0.2,1.4,NaN,NaN,NaN,1052.1,3.4,11.3,4.1,5.0,NaN,NaN,NaN,37.0,116.7,87.6,116.0,32.7,NaN,5004.0,158.0,NaN,NaN,-99.0,-99.0

# Create a Dataframe for hypothesis 1

In [ ]:
# craete a function to clean the data again and create a new dataframe for Hypothesis 1

def clean_data(new_df):

In [21]:
df_edu = new_df.copy()
df_edu

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),Employment: Agriculture (% of employed),Employment: Industry (% of employed),Employment: Services (% of employed),Unemployment (% of labour force),Labour force participation (female/male pop. %),Agricultural production index (2004-2006=100),Food production index (2004-2006=100),International trade: Exports (million US$),International trade: Imports (million US$),International trade: Balance (million US$),"Balance of payments, current account (million US$)",Population growth rate (average annual %),Urban population (% of total population),Urban population growth rate (average annual %),"Fertility rate, total (live births per woman)","Life expectancy at birth (females/males, years)","Population age distribution (0-14 / 60+ years, %)",International migrant stock (000/% of total pop.),Refugees and others of concern to UNHCR (in thousands),Infant mortality rate (per 1000 live births,Health: Total expenditure (% of GDP),Health: Physicians (per 1000 pop.),Education: Government expenditure (% of GDP),Education: Primary gross enrol. ratio (f/m per 100 pop.),Education: Secondary gross enrol. ratio (f/m per 100 pop.),Education: Tertiary gross enrol. ratio (f/m per 100 pop.),Seats held by women in national parliaments %,Mobile-cellular subscriptions (per 100 inhabitants),Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Massachusetts Institute of Technology (MIT),2017,1.0,100.0,United States,Cambridge,North America,Private,Very High,4.0,"3,730",M,"3,065",NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
1,Stanford University,2017,2.0,98.7,United States,Stanford,North America,Private,Very High,3.0,"3,879",L,"4,725",NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
2,Harvard University,2017,3.0,98.3,United States,Cambridge,North America,Private,Very High,5.0,"5,877",L,"4,646",NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
3,University of Cambridge,2017,4.0,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,"7,925",L,"5,800",NorthernEurope,242495.0,66182.0,273.6,97.4,2858003.0,2.2,44162.4,0.7,19.4,79.9,1.2,18.4,80.4,5.0,NaN,108.0,108.0,415856.0,635570.0,-219713.0,-122571.0,0.6,82.6,0.9,1.9,NaN,NaN,NaN,151.7,4.1,9.1,2.8,5.7,NaN,NaN,NaN,30.0,125.8,92.0,102.0,12.9,NaN,4482.0,116.0,NaN,NaN,-99.0,-99.0
4,California Institute of Technology (Caltech),2017,5.0,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968,NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,KTH Royal Institute of Technology,2017,97.0,63.1,Sweden,Stockholm,Europe,Public,Very High,8.0,"3,057",L,"3,600",NorthernEurope,438574.0,9911.0,24.2,100.2,495694.0,4.1,50687.5,1.3,26.3,72.4,1.8,18.2,79.9,7.3,NaN,100.0,100.0,139574.0,140838.0,-1263.0,23250.0,0.8,85.8,0.8,1.9,NaN,NaN,NaN,348.5,2.4,11.9,4.1,7.7,NaN,NaN,NaN,43.6,130.4,90.6,54.0,68.9,NaN,1428.0,206.0,NaN,NaN,-99.0,-99.0
97,Uppsala University,2017,98.0,62.8,Sweden,Uppsala,Europe,Public,Very High,10.0,"8,401",L,"2,843",NorthernEurope,438574.0,9911.0,24.2,100.2,495694.0,4.1,50687.5,1.3,26.3,72.4,1.8,18.2,79.9,7.3,NaN,100.0,100.0,139574.0,140838.0,-1263.0,23250.0,0.8,85.8,0.8,1.9,NaN,NaN,NaN,348.5,2.4,11.9,4.1,7.7,NaN,NaN,NaN,43.6,130.4,90.6,54.0,68.9,NaN,1428.0,206.0,NaN,NaN,-99.0,-99.0
98,Korea University,2017,98.0,62.8,South Korea,Seoul,Asia,Private,Very High,6.0,"3,325",L,"4,026",EasternAsia,120538.0,25491.0,211.7,95.7,16283.0,-1.1,648.0,21.6,46.2,32.2,58.9,19.3,21.8,4.3,NaN,104.0,103.0,1010.0,2757.0,-1748.0,-99.0,0.5,60.9,0.7,2.0,NaN,NaN,NaN,-99.0,18.5,-99.0,2.8,-99.0,NaN,NaN,NaN,16.3,12.9,0.0,78.0,42.8,NaN,871.0,20.0,NaN,NaN,-99.0,-99.0
99,"Trinity College Dublin, The University of Dublin",2017,98.0,62.8,Ireland,Dublin,Europe,Public,Very High,12.0,"5,593",L,"1,383",NorthernEurope,69797.0,4762.0,69.1,98.4,283716.0,26.3,60513.6,1.0,41.7,57.3,4.8,17.7,77.4,7.6,NaN,102.0,102.0,129315.0,76997.0,52318.0,28967.0,0.3,63.2,1.6,2.0,NaN,NaN,NaN,10.5,3.4,7.8,2.8,5.3,NaN,NaN,NaN,22.2,103.7,80.1,50.0,10.9,NaN,84.0,114.0,NaN,NaN,-99.0,-99.0
100,"KIT, Karlsruhe Institute of Technology",2017,98.0,62.8,Germany,Karlsruhe,Europe,Public,Very High,10.0,"5,030",L,"2,080",WesternEurope,357376.0,82114.0,235.6,97.0,3363600.0,1.7,41686.2,0.6,30.5,68.9,1.4,27.5,71.2,4.2,NaN,111.0,111.0,1340752.0,1060672.0,280080.0,279969.0,0.2,75.3,0.2,1.4,NaN,NaN,NaN,1052.1,3.4,11.3,4.1,5.0,NaN,NaN,NaN,37.0,116.7,87.6,116.0,32.7,NaN,5004.0,158.0,NaN,NaN,-99.0,-99.0

In [22]:
student_table = df_edu[['country', 'international_students', 'rank_display', 'score', 'type', 'Population in thousands (2017)', 'Sex ratio (m per 100 f, 2017)','GDP per capita (current US$)']]

In [23]:
student_table['international_students'].replace(',', '', regex=True, inplace=True)

/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_33923/2797062284.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  student_table['international_students'].replace(',', '', regex=True, inplace=True)
/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_33923/2797062284.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_table['international_students'].replace(',', '', regex=True, inplace=True)

In [24]:
student_table['international_students'] = pd.to_numeric(student_table['international_students'], errors='coerce')

/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_33923/350608482.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  student_table['international_students'] = pd.to_numeric(student_table['international_students'], errors='coerce')

In [25]:
student_table

,country,international_students,rank_display,score,type,Population in thousands (2017),"Sex ratio (m per 100 f, 2017)",GDP per capita (current US$)
0,United States,3730,1.0,100.0,Private,324460.0,98.0,56053.8
1,United States,3879,2.0,98.7,Private,324460.0,98.0,56053.8
2,United States,5877,3.0,98.3,Private,324460.0,98.0,56053.8
3,United Kingdom,7925,4.0,97.2,Public,66182.0,97.4,44162.4
4,United States,692,5.0,96.9,Private,324460.0,98.0,56053.8
...,...,...,...,...,...,...,...,...
96,Sweden,3057,97.0,63.1,Public,9911.0,100.2,50687.5
97,Sweden,8401,98.0,62.8,Public,9911.0,100.2,50687.5
98,South Korea,3325,98.0,62.8,Private,25491.0,95.7,648.0
99,Ireland,5593,98.0,62.8,Public,4762.0,98.4,60513.6
100,Germany,5030,98.0,62.8,Public,82114.0,97.0,41686.2

In [26]:
student_table = student_table.groupby('country').agg({'international_students': 'sum', 'score': 'mean'})
student_table

                  international_students      score
country
Argentina                          29516  65.800000
Australia                         128735  78.616667
Belgium                             8485  67.900000
Canada                             63451  77.475000
China (Mainland)                   22549  79.725000
Denmark                             4135  70.200000
Finland                             1254  64.700000
France                              1622  74.900000
Germany                            26483  68.775000
Hong Kong SAR                      22737  80.175000
Ireland                             5593  62.800000
Japan                              12608  75.920000
Netherlands                        14073  73.200000
New Zealand                         9924  67.300000
Singapore                          13642  91.450000
South Korea                         6195  72.450000
Sweden                             18140  65.000000
Switzerland                        25750  79.175000
Taiwan                              5058  70.200000
United Kingdom                    194164  79.183333
United States                     190002  80.765625

In [27]:
student_table.rename(columns={'international_students': 'total_international_students', 'score': 'average_score'}, inplace=True)

In [28]:
country_table = df_edu.groupby('country').agg({'rank_display': 'count'})
country_table.rename(columns={'rank_display': 'total_universities ranked in 100'}, inplace= True)

In [29]:
country_table = country_table.merge(student_table, on='country', how='inner')

In [30]:
country_table['total_international_students'] = country_table['total_international_students'].astype(int)
country_table['total_universities ranked in 100'] = country_table['total_universities ranked in 100'].astype(int)

In [31]:
country_table

,total_universities ranked in 100,total_international_students,average_score
country,,,
Argentina,1,29516,65.800000
Australia,6,128735,78.616667
Belgium,1,8485,67.900000
Canada,4,63451,77.475000
China (Mainland),4,22549,79.725000
Denmark,1,4135,70.200000
Finland,1,1254,64.700000
France,2,1622,74.900000
Germany,4,26483,68.775000
Hong Kong SAR,4,22737,80.175000
Ireland,1,5593,62.800000
Japan,5,12608,75.920000
Netherlands,2,14073,73.200000
New Zealand,1,9924,67.300000
Singapore,2,13642,91.450000
South Korea,4,6195,72.450000
Sweden,3,18140,65.000000
Switzerland,4,25750,79.175000
Taiwan,1,5058,70.200000
United Kingdom,18,194164,79.183333
United States,32,190002,80.765625

In [32]:
country_table = country_table[['total_universities ranked in 100', 'total_international_students', 'average_score']]

In [33]:
country_table.sort_values(by='total_universities ranked in 100', ascending=False, inplace=True)
country_table

,total_universities ranked in 100,total_international_students,average_score
country,,,
United States,32,190002,80.765625
United Kingdom,18,194164,79.183333
Australia,6,128735,78.616667
Japan,5,12608,75.920000
South Korea,4,6195,72.450000
Canada,4,63451,77.475000
China (Mainland),4,22549,79.725000
Switzerland,4,25750,79.175000
Germany,4,26483,68.775000
Hong Kong SAR,4,22737,80.175000
Sweden,3,18140,65.000000
France,2,1622,74.900000
Netherlands,2,14073,73.200000
Singapore,2,13642,91.450000
Taiwan,1,5058,70.200000
Argentina,1,29516,65.800000
New Zealand,1,9924,67.300000
Finland,1,1254,64.700000
Denmark,1,4135,70.200000
Belgium,1,8485,67.900000
Ireland,1,5593,62.800000

In [34]:
country_table['average_score'] = country_table['average_score'].round(2)
country_table

,total_universities ranked in 100,total_international_students,average_score
country,,,
United States,32,190002,80.77
United Kingdom,18,194164,79.18
Australia,6,128735,78.62
Japan,5,12608,75.92
South Korea,4,6195,72.45
Canada,4,63451,77.47
China (Mainland),4,22549,79.72
Switzerland,4,25750,79.18
Germany,4,26483,68.78
Hong Kong SAR,4,22737,80.18
Sweden,3,18140,65.00
France,2,1622,74.90
Netherlands,2,14073,73.20
Singapore,2,13642,91.45
Taiwan,1,5058,70.20
Argentina,1,29516,65.80
New Zealand,1,9924,67.30
Finland,1,1254,64.70
Denmark,1,4135,70.20
Belgium,1,8485,67.90
Ireland,1,5593,62.80

In [35]:
new_country_table = merge_dataset(country_table, country_profile, key='country')
pd.set_option('display.max_columns', None)
new_country_table

,country,total_universities ranked in 100,total_international_students,average_score,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),Employment: Agriculture (% of employed),Employment: Industry (% of employed),Employment: Services (% of employed),Unemployment (% of labour force),Labour force participation (female/male pop. %),Agricultural production index (2004-2006=100),Food production index (2004-2006=100),International trade: Exports (million US$),International trade: Imports (million US$),International trade: Balance (million US$),"Balance of payments, current account (million US$)",Population growth rate (average annual %),Urban population (% of total population),Urban population growth rate (average annual %),"Fertility rate, total (live births per woman)","Life expectancy at birth (females/males, years)","Population age distribution (0-14 / 60+ years, %)",International migrant stock (000/% of total pop.),Refugees and others of concern to UNHCR (in thousands),Infant mortality rate (per 1000 live births,Health: Total expenditure (% of GDP),Health: Physicians (per 1000 pop.),Education: Government expenditure (% of GDP),Education: Primary gross enrol. ratio (f/m per 100 pop.),Education: Secondary gross enrol. ratio (f/m per 100 pop.),Education: Tertiary gross enrol. ratio (f/m per 100 pop.),Seats held by women in national parliaments %,Mobile-cellular subscriptions (per 100 inhabitants),Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,United States,32,190002,80.77,NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.00,-99.0
1,United Kingdom,18,194164,79.18,NorthernEurope,242495.0,66182.0,273.6,97.4,2858003.0,2.2,44162.4,0.7,19.4,79.9,1.2,18.4,80.4,5.0,NaN,108.0,108.0,415856.0,635570.0,-219713.0,-122571.0,0.6,82.6,0.9,1.9,NaN,NaN,NaN,151.7,4.1,9.1,2.8,5.7,NaN,NaN,NaN,30.0,125.8,92.0,102.0,12.9,NaN,4482.0,116.0,NaN,NaN,-99.00,-99.0
2,Australia,6,128735,78.62,Oceania,7692060.0,24451.0,3.2,99.3,1230859.0,2.4,51352.2,2.5,26.5,71.1,2.7,21.2,76.1,5.5,NaN,111.0,111.0,189630.0,189406.0,224.0,-57746.0,1.5,89.4,1.5,1.9,NaN,NaN,NaN,58.2,3.9,9.4,3.4,5.2,NaN,NaN,NaN,28.7,132.8,84.6,948.0,16.2,NaN,15282.0,222.0,NaN,NaN,-99.00,-99.0
3,Japan,5,12608,75.92,EasternAsia,377930.0,127484.0,349.7,95.4,4383076.0,1.2,34628.7,1.2,26.4,72.4,3.7,26.5,69.8,3.0,NaN,96.0,97.0,644932.0,606924.0,38008.0,135608.0,-0.1,93.5,0.6,1.4,NaN,NaN,NaN,19.4,2.2,10.2,2.3,3.6,NaN,NaN,NaN,9.3,125.0,93.3,404.0,68.5,NaN,1114.0,146.0,NaN,NaN,-99.00,-99.0
4,South Korea,4,6195,72.45,EasternAsia,120538.0,25491.0,211.7,95.7,16283.0,-1.1,648.0,21.6,46.2,32.2,58.9,19.3,21.8,4.3,NaN,104.0,103.0,1010.0,2757.0,-1748.0,-99.0,0.5,60.9,0.7,2.0,NaN,NaN,NaN,-99.0,18.5,-99.0,2.8,-99.0,NaN,NaN,NaN,16.3,12.9,0.0,78.0,42.8,NaN,871.0,20.0,NaN,NaN,-99.00,-99.0
5,Canada,4,63451,77.47,NorthernAmerica,9984670.0,36624.0,4.0,98.5,1552808.0,0.9,43205.6,1.8,28.6,69.6,2.1,19.5,78.4,7.1,NaN,109.0,109.0,388911.0,402954.0,-14043.0,-53083.0,1.0,81.8,1.2,1.6,NaN,NaN,NaN,155.8,4.7,10.4,2.5,5.3,NaN,NaN,NaN,26.3,81.9,88.5,122.0,38.2,NaN,19276.0,324.0,NaN,NaN,-99.00,-99.0
6,China (Mainland),4,22549,79.72,EasternAsia,9600000.0,1409517.0,150.1,106.3,11158457.0,6.9,8109.1,9.2,41.1,49.7,27.0,23.9,49.1,4.6,NaN,132.0,133.0,2118981.0,1588696.0,530285.0,330602.0,0.5,55.6,3.0,1.6,NaN,NaN,NaN,301.7,11.6,5.5,1.5,-99.0,NaN,NaN,NaN,23.7,93.2,50.3,1080.0,22.0,NaN,101394.0,87.0,NaN,NaN,0.00,-99.0
7,Switzerland,4,25750,79.18,WesternEurope,41291.0,8476.0,214.5,98.2,670790.0,0.8,80831.1,0.7,25.5,73.8,3.5,20.4,76.1,4.6,NaN,106.0,106.0,304691.0,269157.0,35534.0,77378.0,1.2,73.9,1.1,1.5,NaN,NaN,NaN,110.1,3.9,11.7,4.1,5.1,NaN,NaN,NaN,32.5,142.0,88.0,74.0,31.6,NaN,552.0,126.0,NaN,NaN,-99.00,-99.0
8,Germany,4,26483,68.78,WesternEurope,357376.0,82114.0,235.6,97.0,3363600.0,1.7,41686.2,0.6,30.5,68.9,1.4,27.5,71.2,4.2,NaN,111.0,111.0,1340752.0,1060672.0,280080.0,279969.0,0.2,75.3,0.2,1.4,NaN,NaN,NaN,1052.1,3.4,11.3,4.1,5.0,NaN,NaN,NaN,37.0,116.7,87.6,116.0,32.7,NaN,5004.0,158.0,NaN,NaN,-99.00,-99.0
9,Hong Kong SAR,4,22737,80.18,EasternAsia,1106.0,7365.0,7014.2,85.1,309236.0,2.4,42431.0,0.1,7.2,92.7,0.2,14.9,84.9,3.5,NaN,34.0,34.0,516588.0,547124.0,-30536.0,10101.0,0.6,100.0,0.7,1.2,NaN,NaN,NaN,2.5,1.6,-99.0,-99.0,3.3,-99.0,NaN,NaN,-99.0,228.8,84.9,64.0,-99.0,NaN,-99.0,83.0,-99.0,-99.0,-99.00,-99.0
10,Sweden,3,18140,65.00,NorthernEurope,438574.0,9911.0,24.2,100.2,495694.0,4.1,50687.5,1.3,26.3,72.4,1.8,18.2,79.9,7.3,NaN,100.0,100.0,139574.0,140838.0,-1263.0,23250.0,0.8,85.8,0.8,1.9,NaN,NaN,NaN,348.5,2.4,11.9,4.1,7.7,NaN,NaN,NaN,43.6,130.4,90.6,54.0,68.9,NaN,1428.0,206.0,NaN,NaN,-99.00,-99.0
11,France,2,1622,74.90,WesternEurope,551500.0,64980.0,118.7,96.7,2418946.0,1.3,36304.2,1.7,19.5,78.8,2.7,20.5,76.8,9.8,NaN,103.0,103.0,488885.0,560555.0,-71670.0,-4861.0,0.4,79.5,0.8,2.0,NaN,NaN,NaN,356.2,3.4,11.5,3.2,5.5,NaN,NaN,NaN,25.8,102.6,84.7,278.0,30.8,NaN,5694.0,158.0,NaN,NaN,-99.00,-99.0
12,Netherlands,2,14073,73.20,WesternEurope,41542.0,17036.0,505.2,99.0,750318.0,2.0,44332.1,1.8,20.0,78.2,2.2,15.9,81.9,5.6,NaN,115.0,115.0,511714.0,420969.0,90745.0,65129.0,0.3,90.5,1.0,1.7,NaN,NaN,NaN,116.3,3.5,10.9,3.4,5.5,NaN,NaN,NaN,38.0,123.5,93.1,40.0,11.1,NaN,2447.0,178.0,NaN,NaN,-99.00,-99.0
13,Singapore,2,13642,91.45,South-easternAsia,719.0,5709.0,8155.5,97.7,292734.0,2.0,52239.0,NaN,26.4,73.6,0.3,17.0,82.6,2.0,NaN,112.0,112.0,329871.0,283009.0,46862.0,57922.0,1.7,100.0,2.0,1.2,NaN,NaN,NaN,NaN,2.1,4.9,1.9,2.9,-99.0,-99.0,-99.0,23.8,146.1,82.1,293.0,23.1,NaN,27.0,209.0,NaN,NaN,-99.00,-99.0
14,Taiwan,1,5058,70.20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Argentina,1,29516,65.80,SouthAmerica,2780400.0,44271.0,16.2,95.9,632343.0,2.4,14564.5,6.0,27.8,66.2,2.0,24.8,73.1,6.5,NaN,119.0,119.0,57733.0,55610.0,2124.0,-15944.0,1.0,91.8,1.0,2.3,NaN,NaN,NaN,5.0,13.7,4.8,3.8,5.3,NaN,NaN,NaN,38.9,143.9,69.4,256.0,10.0,NaN,3167.0,85.0,NaN,NaN,0.01,-99.0
16,New Zealand,1,9924,67.30,Oceania,268107.0,4706.0,17.9,96.7,173417.0,3.1,38294.3,6.5,23.0,70.6,5.9,21.4,72.6,5.5,NaN,116.0,118.0,33833.0,36423.0,-2589.0,-5501.0,1.1,86.3,1.0,2.0,NaN,NaN,NaN,1.7,4.4,11.0,2.9,6.4,NaN,NaN,NaN,34.2,121.8,88.2,199.0,38.6,NaN,783.0,207.0,NaN,-99.0,-99.00,-99.0
17,Finland,1,1254,64.70,NorthernEurope,338440.0,5523.0,18.2,97.2,231960.0,0.2,42148.1,2.5,26.8,70.6,4.2,22.0,73.8,8.9,NaN,101.0,101.0,57326.0,60502.0,-3176.0,-979.0,0.4,84.2,0.5,1.8,NaN,NaN,NaN,32.6,2.3,9.7,3.0,7.2,NaN,NaN,NaN,42.0,135.5,92.7,36.0,73.1,NaN,757.0,257.0,NaN,NaN,-99.00,-99.0
18,Denmark,1,4135,70.20,NorthernEurope,42921.0,5734.0,135.1,99.0,301308.0,1.6,53149.3,1.2,22.9,75.8,2.4,19.2,78.4,6.0,NaN,105.0,105.0,94355.0,85133.0,9222.0,27582.0,0.5,87.7,0.6,1.7,NaN,NaN,NaN,48.2,3.5,10.8,3.6,8.6,NaN,NaN,NaN,37.4,128.3,96.3,47.0,14.4,NaN,666.0,119.0,NaN,NaN,-99.00,-99.0
19,Belgium,1,8485,67.90,WesternEurope,30528.0,11429.0,377.5,97.3,455107.0,1.5,40277.8,0.7,22.2,77.1,1.2,21.2,77.6,8.3,NaN,108.0,107.0,398033.0,372713.0,25321.0,1936.0,0.6,97.9,0.5,1.8,NaN,NaN,NaN,63.8,3.5,10.6,3.0,6.6,NaN,NaN,NaN,38.0,115.7,85.1,37.0,22.6,NaN,520.0,196.0,NaN,NaN,-99.00,-99.0
20,Ireland,1,5593,62.80,NorthernEurope,69797.0,4762.0,69.1,98.4,283716.0,26.3,60513.6,1.0,41.7,57.3,4.8,17.7,77.4,7.6,NaN,102.0,102.0,129315.0,76997.0,52318.0,28967.0,0.3,63.2,1.6,2.0,NaN,NaN,NaN,10.5,3.4,7.8,2.8,5.3,NaN,NaN,NaN,22.2,103.7,80.1,50.0,10.9,NaN,84.0,114.0,NaN,NaN,-99.00,-99.0

In [77]:
# remove the missing values rows 
final_df = new_country_table[['country', 'total_universities ranked in 100', 'total_international_students', 'average_score', 'Region', 'Population in thousands (2017)', 'GDP per capita (current US$)', 'Sex ratio (m per 100 f, 2017)', 'Education: Government expenditure (% of GDP)', 'Fertility rate, total (live births per woman)']]
final_df= final_df[(final_df['Population in thousands (2017)'] >= 0) & (final_df['Education: Government expenditure (% of GDP)'] >= 0)]

In [78]:
final_df

,country,total_universities ranked in 100,total_international_students,average_score,Region,Population in thousands (2017),GDP per capita (current US$),"Sex ratio (m per 100 f, 2017)",Education: Government expenditure (% of GDP),"Fertility rate, total (live births per woman)"
0,United States,32,190002,80.77,NorthernAmerica,324460.0,56053.8,98.0,5.4,1.9
1,United Kingdom,18,194164,79.18,NorthernEurope,66182.0,44162.4,97.4,5.7,1.9
2,Australia,6,128735,78.62,Oceania,24451.0,51352.2,99.3,5.2,1.9
3,Japan,5,12608,75.92,EasternAsia,127484.0,34628.7,95.4,3.6,1.4
5,Canada,4,63451,77.47,NorthernAmerica,36624.0,43205.6,98.5,5.3,1.6
7,Switzerland,4,25750,79.18,WesternEurope,8476.0,80831.1,98.2,5.1,1.5
8,Germany,4,26483,68.78,WesternEurope,82114.0,41686.2,97.0,5.0,1.4
9,Hong Kong SAR,4,22737,80.18,EasternAsia,7365.0,42431.0,85.1,3.3,1.2
10,Sweden,3,18140,65.00,NorthernEurope,9911.0,50687.5,100.2,7.7,1.9
11,France,2,1622,74.90,WesternEurope,64980.0,36304.2,96.7,5.5,2.0
12,Netherlands,2,14073,73.20,WesternEurope,17036.0,44332.1,99.0,5.5,1.7
13,Singapore,2,13642,91.45,South-easternAsia,5709.0,52239.0,97.7,2.9,1.2
15,Argentina,1,29516,65.80,SouthAmerica,44271.0,14564.5,95.9,5.3,2.3
16,New Zealand,1,9924,67.30,Oceania,4706.0,38294.3,96.7,6.4,2.0
17,Finland,1,1254,64.70,NorthernEurope,5523.0,42148.1,97.2,7.2,1.8
18,Denmark,1,4135,70.20,NorthernEurope,5734.0,53149.3,99.0,8.6,1.7
19,Belgium,1,8485,67.90,WesternEurope,11429.0,40277.8,97.3,6.6,1.8
20,Ireland,1,5593,62.80,NorthernEurope,4762.0,60513.6,98.4,5.3,2.0

In [74]:
# import ploty

import plotly.express as px

# Hypothesis: Countries with higher government expenditure on education as a percentage of GDP have more universities in the top 100.

In [83]:
# plot the total universities ranked in 100 

fig = px.bar(new_country_table, x='country', y='total_universities ranked in 100', title='Total Universities Ranked in 100 by Country')
fig.show()

In [84]:
fig = px.bar(new_country_table, x='Region', y='total_universities ranked in 100', title='Total Universities Ranked in 100 by Region')
fig.show()

In [92]:
# the corrleation between total universities ranked in 100 and GDP per capita
fig = px.scatter(new_country_table, x='total_universities ranked in 100', y='GDP per capita (current US$)', color='country', title='Correlation between Total Universities Ranked in 100 and GDP per capita',)
fig.show()

In [89]:
#Countries with higher government expenditure on education as a percentage of GDP have more universities in the top 100.
fig = px.scatter(final_df, x='Education: Government expenditure (% of GDP)', y='total_universities ranked in 100', color='country', size='Population in thousands (2017)', hover_name='country', title='Countries with higher government expenditure on education as a percentage of GDP have more universities in the top 100')

In [90]:
fig.show()