# Collect the two dataset : University & Country Profile

In [10]:
import pandas as pd
df_uni = pd.read_csv(r'qs-world-university-rankings-2017-to-2022-V2.csv')
data = pd.read_csv('country_profile_variables.csv')

# Clean the dataset of University

In [11]:
# Check if 'link' and 'logo' columns exist in the dataframe and drop it 
if 'link' in df_uni.columns and 'logo' in df_uni.columns:
    # Drop 'link' and 'logo' columns
    df_uni = df_uni.drop(['link', 'logo'], axis=1)

df_uni

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,United States,Cambridge,North America,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,United States,Stanford,North America,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,United States,Cambridge,North America,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,United States,Pasadena,North America,Private,Very High,2.0,692,S,968
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6477,Université de Tunis,2022,1201,NaN,Tunisia,Tunis,Africa,Public,High,17.0,57,L,"1,174"
6478,Université de Tunis El Manar,2022,1201,NaN,Tunisia,Tunis,Africa,Public,Very High,8.0,585,L,"3,504"
6479,Yarmouk University,2022,1201,NaN,Jordan,Irbid,Asia,Public,Medium,31.0,"2,826",XL,"1,113"
6480,Yildiz Technical University,2022,1201,NaN,Turkey,Istanbul,Asia,Public,High,20.0,"2,394",XL,"1,688"
6481,Zagazig University,2022,1201,NaN,Egypt,Zagazig,Africa,Public,High,26.0,"2,300",XL,"5,871"

In [12]:
# make these column to numeric 
df_uni['rank_display'] = pd.to_numeric(df_uni['rank_display'], errors='coerce')
df_uni['score'] = pd.to_numeric(df_uni['score'], errors='coerce')
df_uni['international_students'] = pd.to_numeric(df_uni['international_students'], errors='coerce')

In [13]:
# only take the top 100 universities
df_rank_100 = df_uni[df_uni['rank_display'] <= 100]

In [14]:
# make a new dataframe filter year = 2017  our main dataset
df_2017 = df_rank_100[df_rank_100['year'] == 2017]
df_2017

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1.0,100.0,United States,Cambridge,North America,Private,Very High,4.0,NaN,M,"3,065"
1,Stanford University,2017,2.0,98.7,United States,Stanford,North America,Private,Very High,3.0,NaN,L,"4,725"
2,Harvard University,2017,3.0,98.3,United States,Cambridge,North America,Private,Very High,5.0,NaN,L,"4,646"
3,University of Cambridge,2017,4.0,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,NaN,L,"5,800"
4,California Institute of Technology (Caltech),2017,5.0,96.9,United States,Pasadena,North America,Private,Very High,2.0,692.0,S,968
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,KTH Royal Institute of Technology,2017,97.0,63.1,Sweden,Stockholm,Europe,Public,Very High,8.0,NaN,L,"3,600"
97,Uppsala University,2017,98.0,62.8,Sweden,Uppsala,Europe,Public,Very High,10.0,NaN,L,"2,843"
98,Korea University,2017,98.0,62.8,South Korea,Seoul,Asia,Private,Very High,6.0,NaN,L,"4,026"
99,"Trinity College Dublin, The University of Dublin",2017,98.0,62.8,Ireland,Dublin,Europe,Public,Very High,12.0,NaN,L,"1,383"
100,"KIT, Karlsruhe Institute of Technology",2017,98.0,62.8,Germany,Karlsruhe,Europe,Public,Very High,10.0,NaN,L,"2,080"

# Clean the data of country profile

In [15]:
country_profile = pd.read_csv('country_profile_variables.csv')

In [16]:
# Convert columns to numeric
for col in country_profile.columns[2:]:
    country_profile[col] = pd.to_numeric(country_profile[col], errors='coerce')

In [17]:
country_profile

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864.0,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,NaN,63,5,NaN,NaN,21.43,-99
1,Albania,SouthernEurope,28748.0,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,NaN,84,36,NaN,NaN,2.96,-99
2,Algeria,NorthernAfrica,2381741.0,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,NaN,5900,55,NaN,NaN,0.05,-99
3,American Samoa,Polynesia,199.0,56,278.2,103.6,-99,-99.0,-99.0,-99.0,...,-99.0,92,87.9,-99.0,-99,-99,NaN,NaN,-99.00,-99
4,Andorra,SouthernEurope,468.0,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,NaN,1,119,NaN,NaN,-99.00,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Wallis and Futuna Islands,Polynesia,142.0,12,84.1,93.4,-99,-99.0,-99.0,-99.0,...,9.0,89,41.6,NaN,-99,26,-99.0,-99.0,-99.00,-99
225,Western Sahara,NorthernAfrica,266000.0,553,2.1,110.1,-99,-99.0,-99.0,-99.0,...,-99.0,49,2.7,-99.0,-99,-99,-99.0,-99.0,-99.00,-99
226,Yemen,WesternAsia,527968.0,28250,53.5,102.1,29688,-28.1,1106.4,14.7,...,25.1,298,1.0,NaN,668,12,NaN,NaN,2.99,-99
227,Zambia,EasternAfrica,752612.0,17094,23.0,98.5,21255,2.9,1311.1,8.2,...,21.0,88,65.6,NaN,374,26,NaN,NaN,3.96,-99
228,Zimbabwe,EasternAfrica,390757.0,16530,42.7,95.0,13893,1.1,890.4,13.0,...,16.4,89,37.2,NaN,482,30,NaN,NaN,6.00,-99

# Merge two dataset to one

In [27]:
def merge_dataset(df_2017, country_profile, key='country'):
    # Merge two datasets
    # df1: DataFrame 1
    # df2: DataFrame 2
    # key: column to merge on
    # return: merged DataFrame
    return pd.merge(df_2017, country_profile, on=key, how = 'left')

In [28]:
# Merge two datasets
new_df = merge_dataset(df_2017, country_profile, key='country')
new_df

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Massachusetts Institute of Technology (MIT),2017,1.0,100.0,United States,Cambridge,North America,Private,Very High,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Stanford University,2017,2.0,98.7,United States,Stanford,North America,Private,Very High,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Harvard University,2017,3.0,98.3,United States,Cambridge,North America,Private,Very High,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,University of Cambridge,2017,4.0,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,...,92.0,102.0,12.9,NaN,4482.0,116.0,NaN,NaN,-99.0,-99.0
4,California Institute of Technology (Caltech),2017,5.0,96.9,United States,Pasadena,North America,Private,Very High,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,KTH Royal Institute of Technology,2017,97.0,63.1,Sweden,Stockholm,Europe,Public,Very High,8.0,...,90.6,54.0,68.9,NaN,1428.0,206.0,NaN,NaN,-99.0,-99.0
97,Uppsala University,2017,98.0,62.8,Sweden,Uppsala,Europe,Public,Very High,10.0,...,90.6,54.0,68.9,NaN,1428.0,206.0,NaN,NaN,-99.0,-99.0
98,Korea University,2017,98.0,62.8,South Korea,Seoul,Asia,Private,Very High,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,"Trinity College Dublin, The University of Dublin",2017,98.0,62.8,Ireland,Dublin,Europe,Public,Very High,12.0,...,80.1,50.0,10.9,NaN,84.0,114.0,NaN,NaN,-99.0,-99.0
100,"KIT, Karlsruhe Institute of Technology",2017,98.0,62.8,Germany,Karlsruhe,Europe,Public,Very High,10.0,...,87.6,116.0,32.7,NaN,5004.0,158.0,NaN,NaN,-99.0,-99.0