# Collect the two dataset : University & Country Profile

# Project IRONHack

Import libraries:

In [38]:
import pandas as pd
import plotly.io as pio
import plotly.express as px

from helper_functions import uninversity_data_cleaning, country_data_cleaning, merge_dataset, clean_data_dan, plot_graph_edu_ranked_uni

Dataset "qs-world-university-rankings-2017-to-2022-V2.csv" and "country_profile_variables.csv" are get from Kaggle.com

In [39]:
df_uni = pd.read_csv(r'qs-world-university-rankings-2017-to-2022-V2.csv')
country_profile = pd.read_csv('country_profile_variables.csv')

# Clean the dataset of University

In [40]:
df_2017 = uninversity_data_cleaning(df_uni)
df_2017.head()

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1.0,100.0,United States,Cambridge,North America,Private,Very High,4.0,NaN,M,"3,065"
1,Stanford University,2017,2.0,98.7,United States,Stanford,North America,Private,Very High,3.0,NaN,L,"4,725"
2,Harvard University,2017,3.0,98.3,United States,Cambridge,North America,Private,Very High,5.0,NaN,L,"4,646"
3,University of Cambridge,2017,4.0,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,NaN,L,"5,800"
4,California Institute of Technology (Caltech),2017,5.0,96.9,United States,Pasadena,North America,Private,Very High,2.0,692.0,S,968

# Clean the data of country profile

In [41]:
country_profile = country_data_cleaning(country_profile)
country_profile.head()

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),Employment: Agriculture (% of employed),Employment: Industry (% of employed),Employment: Services (% of employed),Unemployment (% of labour force),Labour force participation (female/male pop. %),Agricultural production index (2004-2006=100),Food production index (2004-2006=100),International trade: Exports (million US$),International trade: Imports (million US$),International trade: Balance (million US$),"Balance of payments, current account (million US$)",Population growth rate (average annual %),Urban population (% of total population),Urban population growth rate (average annual %),"Fertility rate, total (live births per woman)","Life expectancy at birth (females/males, years)","Population age distribution (0-14 / 60+ years, %)",International migrant stock (000/% of total pop.),Refugees and others of concern to UNHCR (in thousands),Infant mortality rate (per 1000 live births,Health: Total expenditure (% of GDP),Health: Physicians (per 1000 pop.),Education: Government expenditure (% of GDP),Education: Primary gross enrol. ratio (f/m per 100 pop.),Education: Secondary gross enrol. ratio (f/m per 100 pop.),Education: Tertiary gross enrol. ratio (f/m per 100 pop.),Seats held by women in national parliaments %,Mobile-cellular subscriptions (per 100 inhabitants),Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864.0,35530,54.4,106.3,20270,-2.4,623.2,23.3,23.3,53.3,61.6,10.0,28.5,8.6,NaN,125,125,1458.0,3568.0,-2110.0,-5121.0,3.2,26.7,4.0,5.3,NaN,NaN,NaN,1513.1,68.6,8.2,0.3,3.3,NaN,NaN,NaN,27.7,61.6,8.3,42,2.1,NaN,63,5,NaN,NaN,21.43,-99
1,Albania,SouthernEurope,28748.0,2930,106.9,101.9,11541,2.6,3984.2,22.4,26.0,51.7,41.4,18.3,40.3,15.8,NaN,134,134,1962.0,4669.0,-2707.0,-1222.0,-0.1,57.4,2.2,1.7,NaN,NaN,NaN,8.8,14.6,5.9,1.3,3.5,NaN,NaN,NaN,22.9,106.4,63.3,130,28.2,NaN,84,36,NaN,NaN,2.96,-99
2,Algeria,NorthernAfrica,2381741.0,41318,17.3,102.0,164779,3.8,4154.1,12.2,37.3,50.5,10.8,34.5,54.7,11.4,NaN,160,161,29992.0,47091.0,-17099.0,-27229.0,2.0,70.7,2.8,3.0,NaN,NaN,NaN,99.8,27.7,7.2,NaN,NaN,NaN,NaN,NaN,31.6,113.0,38.2,135,0.8,NaN,5900,55,NaN,NaN,0.05,-99
3,American Samoa,Polynesia,199.0,56,278.2,103.6,-99,-99.0,-99.0,-99.0,-99.0,-99.0,NaN,NaN,NaN,NaN,NaN,112,112,-99.0,-99.0,-99.0,-99.0,NaN,87.2,-0.1,2.6,NaN,NaN,NaN,-99.0,9.6,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,-99.0,NaN,-99.0,92,87.9,-99.0,-99,-99,NaN,NaN,-99.00,-99
4,Andorra,SouthernEurope,468.0,77,163.8,102.3,2812,0.8,39896.4,0.5,10.8,88.6,-99.0,-99.0,-99.0,-99.0,-99.0,-99,-99,100.0,1355.0,-1255.0,-99.0,-1.6,85.1,0.1,1.2,-99.0,NaN,NaN,-99.0,-99.0,8.1,3.7,3.3,-99.0,-99.0,-99.0,32.1,88.1,96.9,13,34.0,NaN,1,119,NaN,NaN,-99.00,-99

# Merge two dataset to one

In [42]:
# Merge two datasets
new_df = merge_dataset(df_2017, country_profile, key='country')
new_df.head()

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),Economy: Industry (% of GVA),Economy: Services and other activity (% of GVA),Employment: Agriculture (% of employed),Employment: Industry (% of employed),Employment: Services (% of employed),Unemployment (% of labour force),Labour force participation (female/male pop. %),Agricultural production index (2004-2006=100),Food production index (2004-2006=100),International trade: Exports (million US$),International trade: Imports (million US$),International trade: Balance (million US$),"Balance of payments, current account (million US$)",Population growth rate (average annual %),Urban population (% of total population),Urban population growth rate (average annual %),"Fertility rate, total (live births per woman)","Life expectancy at birth (females/males, years)","Population age distribution (0-14 / 60+ years, %)",International migrant stock (000/% of total pop.),Refugees and others of concern to UNHCR (in thousands),Infant mortality rate (per 1000 live births,Health: Total expenditure (% of GDP),Health: Physicians (per 1000 pop.),Education: Government expenditure (% of GDP),Education: Primary gross enrol. ratio (f/m per 100 pop.),Education: Secondary gross enrol. ratio (f/m per 100 pop.),Education: Tertiary gross enrol. ratio (f/m per 100 pop.),Seats held by women in national parliaments %,Mobile-cellular subscriptions (per 100 inhabitants),Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Massachusetts Institute of Technology (MIT),2017,1.0,100.0,United States,Cambridge,North America,Private,Very High,4.0,NaN,M,"3,065",NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
1,Stanford University,2017,2.0,98.7,United States,Stanford,North America,Private,Very High,3.0,NaN,L,"4,725",NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
2,Harvard University,2017,3.0,98.3,United States,Cambridge,North America,Private,Very High,5.0,NaN,L,"4,646",NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
3,University of Cambridge,2017,4.0,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,NaN,L,"5,800",NorthernEurope,242495.0,66182.0,273.6,97.4,2858003.0,2.2,44162.4,0.7,19.4,79.9,1.2,18.4,80.4,5.0,NaN,108.0,108.0,415856.0,635570.0,-219713.0,-122571.0,0.6,82.6,0.9,1.9,NaN,NaN,NaN,151.7,4.1,9.1,2.8,5.7,NaN,NaN,NaN,30.0,125.8,92.0,102.0,12.9,NaN,4482.0,116.0,NaN,NaN,-99.0,-99.0
4,California Institute of Technology (Caltech),2017,5.0,96.9,United States,Pasadena,North America,Private,Very High,2.0,692.0,S,968,NorthernAmerica,9833517.0,324460.0,35.5,98.0,18036648.0,2.6,56053.8,1.0,19.7,79.3,1.5,17.2,81.3,4.9,NaN,111.0,113.0,1453167.0,2249661.0,-796494.0,-462961.0,0.7,81.6,1.0,1.9,NaN,NaN,NaN,616.5,6.0,17.1,2.6,5.4,NaN,NaN,NaN,19.1,117.6,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0

# HeapMap for merged Dataset

In [43]:
heatmap_df = new_df[['rank_display', 'score', 'Population in thousands (2017)', 'Population density (per km2, 2017)',
                    'Sex ratio (m per 100 f, 2017)',
                    'GDP growth rate (annual %, const. 2005 prices)',
                    'GDP per capita (current US$)', 'Economy: Agriculture (% of GVA)',
                    'Employment: Agriculture (% of employed)',
                    'Employment: Industry (% of employed)',
                    'Unemployment (% of labour force)',
                    'Labour force participation (female/male pop. %)',
                    'Agricultural production index (2004-2006=100)',
                    'Population growth rate (average annual %)',
                    'Urban population (% of total population)',
                    'Urban population growth rate (average annual %)',
                    'Fertility rate, total (live births per woman)',
                    'Health: Total expenditure (% of GDP)',
                    'Education: Government expenditure (% of GDP)',
                    'Individuals using the Internet (per 100 inhabitants)']]
correlation_matrix = heatmap_df.corr()

In [44]:
fig = px.imshow(heatmap_df.corr(), text_auto=True, aspect="auto")
fig.update_layout(margin = dict(t=200,r=200,b=200,l=200),
    showlegend = False,
    width = 1000, height = 1000,
    autosize = False )
fig.show()

# Hypothesis: Countries with higher GDP growth rates tend to have higher-ranked universities.

In [45]:
hypothesis_1 = new_df[['country', 'rank_display', 'GDP growth rate (annual %, const. 2005 prices)']]
hypothesis_1.head()

,country,rank_display,"GDP growth rate (annual %, const. 2005 prices)"
0,United States,1.0,2.6
1,United States,2.0,2.6
2,United States,3.0,2.6
3,United Kingdom,4.0,2.2
4,United States,5.0,2.6

In [46]:
hypothesis_1['GDP growth rate (annual %, const. 2005 prices)'].dtype

dtype('float64')

In [47]:
hypothesis_1['rank_display'].dtype

dtype('float64')

#### Clean the data: handle missing values in relevant columns
 We will drop rows where 'rank_display' or 'GDP growth rate (annual %, const. 2005 prices)' is missing

In [48]:
hypothesis_1.dropna(subset=['rank_display', 'GDP growth rate (annual %, const. 2005 prices)'], inplace=True)
hypothesis_1.head()

/var/folders/rv/whttr0rs0h71ygvlwqb00mt00000gp/T/ipykernel_29028/1282706605.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,country,rank_display,"GDP growth rate (annual %, const. 2005 prices)"
0,United States,1.0,2.6
1,United States,2.0,2.6
2,United States,3.0,2.6
3,United Kingdom,4.0,2.2
4,United States,5.0,2.6

Now we should reindex the dataframe

In [49]:
hypothesis_1.index = range(len(hypothesis_1))
hypothesis_1.head()

,country,rank_display,"GDP growth rate (annual %, const. 2005 prices)"
0,United States,1.0,2.6
1,United States,2.0,2.6
2,United States,3.0,2.6
3,United Kingdom,4.0,2.2
4,United States,5.0,2.6

Aggregate the data by country:

In [50]:
country_agg = hypothesis_1.groupby('country').agg({
    'rank_display': 'mean',  # Average university rank
    'GDP growth rate (annual %, const. 2005 prices)': 'mean'  # Average GDP growth rate
}).reset_index()

country_agg.head()

,country,rank_display,"GDP growth rate (annual %, const. 2005 prices)"
0,Argentina,85.000000,2.4
1,Australia,45.833333,2.4
2,Belgium,79.000000,1.5
3,Canada,50.250000,0.9
4,China (Mainland),41.750000,6.9

Rename columns for clarity:

In [51]:
country_agg.columns = ['country', 'avg_university_rank', 'avg_gdp_growth_rate']
country_agg.head()

            country  avg_university_rank  avg_gdp_growth_rate
0         Argentina            85.000000                  2.4
1         Australia            45.833333                  2.4
2           Belgium            79.000000                  1.5
3            Canada            50.250000                  0.9
4  China (Mainland)            41.750000                  6.9

Use Plotly.io to create graphs:

In [52]:

subject = country_agg['avg_university_rank']
score = country_agg['avg_gdp_growth_rate']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = 'County GDP Growth Rate vs Average University Rank',
    xaxis = dict(
        title = 'Average University Rank',
        range = [0, 100]
                 ),
    yaxis = dict(
        title = 'Average GDP Growth Rate',
        range = [0, 30]
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

Because Ireland seems to be an outlier so we remove Ireland and plot again the rest coutries:

In [53]:

subject = country_agg['avg_university_rank']
score = country_agg['avg_gdp_growth_rate']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = 'County GDP Growth Rate vs Average University Rank',
    xaxis = dict(
        title = 'Average University Rank',
        range = [0, 100]
                 ),
    yaxis = dict(
        title = 'Average GDP Growth Rate',
        range = [0, 10]
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

it seems that singapore is an outlier, so we remove it:

In [54]:

subject = country_agg['avg_university_rank']
score = country_agg['avg_gdp_growth_rate']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = 'County GDP Growth Rate vs Average University Rank',
    xaxis = dict(
        title = 'Average University Rank',
        range = [38, 100]
                 ),
    yaxis = dict(
        title = 'Average GDP Growth Rate',
        range = [0, 10]
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

# Hypothesis: Countries with a higher urban population percentage have universities that perform better in global rankings

In [55]:
hypothesis_2 = new_df[['country', 'rank_display', 'Urban population (% of total population)']]
hypothesis_2.head()

          country  rank_display  Urban population (% of total population)
0   United States           1.0                                      81.6
1   United States           2.0                                      81.6
2   United States           3.0                                      81.6
3  United Kingdom           4.0                                      82.6
4   United States           5.0                                      81.6

#### Clean the data: handle missing values in relevant columns
 We will drop rows where 'rank_display' or 'Urban population (% of total population)' is missing

In [56]:
hypothesis_2.dropna(subset=['rank_display', 'Urban population (% of total population)'], inplace=True)
hypothesis_2.head()

/var/folders/rv/whttr0rs0h71ygvlwqb00mt00000gp/T/ipykernel_29028/860025795.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          country  rank_display  Urban population (% of total population)
0   United States           1.0                                      81.6
1   United States           2.0                                      81.6
2   United States           3.0                                      81.6
3  United Kingdom           4.0                                      82.6
4   United States           5.0                                      81.6

Now we should reindex the dataframe

In [57]:
hypothesis_2.index = range(len(hypothesis_2))
hypothesis_2.head()

          country  rank_display  Urban population (% of total population)
0   United States           1.0                                      81.6
1   United States           2.0                                      81.6
2   United States           3.0                                      81.6
3  United Kingdom           4.0                                      82.6
4   United States           5.0                                      81.6

In [58]:
# Aggregate the data by country
country_agg = hypothesis_2.groupby('country').agg({
    'rank_display': 'mean',  # Average university rank
    'Urban population (% of total population)': 'mean'  # Average urban population percentage
}).reset_index()
country_agg.head()

            country  rank_display  Urban population (% of total population)
0         Argentina     85.000000                                      91.8
1         Australia     45.833333                                      89.4
2           Belgium     79.000000                                      97.9
3            Canada     50.250000                                      81.8
4  China (Mainland)     41.750000                                      55.6

In [59]:
# Rename columns for clarity
country_agg.columns = ['country', 'avg_university_rank', 'avg_urban_population_percentage']
country_agg.head()

            country  avg_university_rank  avg_urban_population_percentage
0         Argentina            85.000000                             91.8
1         Australia            45.833333                             89.4
2           Belgium            79.000000                             97.9
3            Canada            50.250000                             81.8
4  China (Mainland)            41.750000                             55.6

Find Correlation between column "avg_rank" and "avg_urban_population_percentage":

In [60]:
# Perform a correlation analysis
correlation = country_agg['avg_university_rank'].corr(country_agg['avg_urban_population_percentage'])
correlation

-0.16787752112043536

Use Plotly.io to create graphs:

In [61]:
subject = country_agg['avg_university_rank']
score = country_agg['avg_urban_population_percentage']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = f'Relationship between Urban Population Percentage and Average University Rank\nCorrelation: {correlation:.2f}',
    xaxis = dict(
        title = 'Average University Rank',
                 ),
    yaxis = dict(
        title = 'Average % Urban Population',
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

# Hypothesis: Higher female participation in the labor force is associated with better university rankings in a country.

In [62]:
hypothesis_3 = new_df[['country', 'rank_display', 'Labour force participation (female/male pop. %)']]
hypothesis_3.head()

,country,rank_display,Labour force participation (female/male pop. %)
0,United States,1.0,NaN
1,United States,2.0,NaN
2,United States,3.0,NaN
3,United Kingdom,4.0,NaN
4,United States,5.0,NaN

#### Clean the data: handle missing values in relevant columns
 We will drop rows where 'rank_display' or 'Labour force participation (female/male pop. %)' is missing

In [63]:
hypothesis_3.dropna(subset=['rank_display', 'Labour force participation (female/male pop. %)'], inplace=True)
hypothesis_3.head()

/var/folders/rv/whttr0rs0h71ygvlwqb00mt00000gp/T/ipykernel_29028/3465186695.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Empty DataFrame
Columns: [country, rank_display, Labour force participation (female/male pop. %)]
Index: []

try to find info() in this dataframe:

In [64]:
hypothesis_3['Labour force participation (female/male pop. %)'].info()

<class 'pandas.core.series.Series'>
Index: 0 entries
Series name: Labour force participation (female/male pop. %)
Non-Null Count  Dtype
--------------  -----
0 non-null      float64
dtypes: float64(1)
memory usage: 0.0 bytes

So we can not do this Hypothesis, because we don't have any values in 'Labour force participation (female/male pop. %)' column.

# Hypothesis: Countries with higher internet penetration rates have better-ranked universities.

In [65]:
hypothesis_4 = new_df[['country', 'rank_display', 'Individuals using the Internet (per 100 inhabitants)']]
hypothesis_4.head()

,country,rank_display,Individuals using the Internet (per 100 inhabitants)
0,United States,1.0,1513.0
1,United States,2.0,1513.0
2,United States,3.0,1513.0
3,United Kingdom,4.0,102.0
4,United States,5.0,1513.0

#### Clean the data: handle missing values in relevant columns
 We will drop rows where 'rank_display' or 'Individuals using the Internet (per 100 inhabitants)' is missing

In [66]:
# Clean the data: handle missing values in relevant columns
hypothesis_4.dropna(subset=['rank_display', 'Individuals using the Internet (per 100 inhabitants)'], inplace=True)
hypothesis_4.head()

/var/folders/rv/whttr0rs0h71ygvlwqb00mt00000gp/T/ipykernel_29028/3826405503.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,country,rank_display,Individuals using the Internet (per 100 inhabitants)
0,United States,1.0,1513.0
1,United States,2.0,1513.0
2,United States,3.0,1513.0
3,United Kingdom,4.0,102.0
4,United States,5.0,1513.0

Now we should reindex the dataframe

In [67]:
hypothesis_4.index = range(len(hypothesis_4))
hypothesis_4.head()

,country,rank_display,Individuals using the Internet (per 100 inhabitants)
0,United States,1.0,1513.0
1,United States,2.0,1513.0
2,United States,3.0,1513.0
3,United Kingdom,4.0,102.0
4,United States,5.0,1513.0

In [68]:
# Aggregate the data by country
country_agg = hypothesis_4.groupby('country').agg({
    'rank_display': 'mean',  # Average university rank
    'Individuals using the Internet (per 100 inhabitants)': 'mean'  # Average internet penetration rate
}).reset_index()
country_agg.head()

,country,rank_display,Individuals using the Internet (per 100 inhabitants)
0,Argentina,85.000000,256.0
1,Australia,45.833333,948.0
2,Belgium,79.000000,37.0
3,Canada,50.250000,122.0
4,China (Mainland),41.750000,1080.0

In [69]:
# Rename columns for clarity
country_agg.columns = ['country', 'avg_university_rank', 'avg_internet_penetration']

In [70]:
# Perform a correlation analysis
correlation = country_agg['avg_university_rank'].corr(country_agg['avg_internet_penetration'])
correlation

-0.42014493308889106

Use Plotly.io to create graphs:

In [71]:
subject = country_agg['avg_university_rank']
score = country_agg['avg_internet_penetration']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = f'Relationship between Internet Penetration Rate and Average University Rank\nCorrelation: {correlation:.2f}',
    xaxis = dict(
        title = 'Average University Rank',
                 ),
    yaxis = dict(
        title = 'Average Internet Penetration Rate',
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

It seems that "Singapore" is an outlier and so we remove it :

In [72]:
subject = country_agg['avg_university_rank']
score = country_agg['avg_internet_penetration']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = f'Relationship between Internet Penetration Rate and Average University Rank\nCorrelation: {correlation:.2f}',
    xaxis = dict(
        title = 'Average University Rank',
        range = [40, 100]
                 ),
    yaxis = dict(
        title = 'Average Internet Penetration Rate',
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

# Hypothesis: Countries with higher government expenditure on education as a percentage of GDP have more universities in the top 100.

In [73]:
final_df = clean_data_dan(new_df, country_profile)
final_df.head()

/Users/Erfan/Documents/GitHub/First_Project/helper_functions.py:59: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/Erfan/Documents/GitHub/First_Project/helper_functions.py:60: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,country,total_universities ranked in 100,total_international_students,average_score,Region,Population in thousands (2017),GDP per capita (current US$),"Sex ratio (m per 100 f, 2017)",Education: Government expenditure (% of GDP),"Fertility rate, total (live births per woman)"
0,Argentina,1,0,65.80,SouthAmerica,44271.0,14564.5,95.9,5.3,2.3
1,Australia,6,0,78.62,Oceania,24451.0,51352.2,99.3,5.2,1.9
2,Belgium,1,0,67.90,WesternEurope,11429.0,40277.8,97.3,6.6,1.8
3,Canada,4,0,77.47,NorthernAmerica,36624.0,43205.6,98.5,5.3,1.6
5,Denmark,1,0,70.20,NorthernEurope,5734.0,53149.3,99.0,8.6,1.7

In [74]:
plot_graph_edu_ranked_uni(final_df)

## From the graphy, we can see countries in NorthernEurope such as Denmark, Sweden they spend a lot of budget on Education, However, they dont have more universities ranked in Top 100 compared to US and UK who has more universitis ranked in top 100. Thus the hypothesis is wrong.