# Collect the two dataset : University & Country Profile

# Project IRONHack

Import libraries:

In [1]:
import pandas as pd
import plotly.io as pio
import plotly.express as px

from helper_functions import uninversity_data_cleaning, country_data_cleaning, merge_dataset

Dataset "qs-world-university-rankings-2017-to-2022-V2.csv" and "country_profile_variables.csv" are get from Kaggle.com

In [2]:
df_uni = pd.read_csv(r'qs-world-university-rankings-2017-to-2022-V2.csv')
country_profile = pd.read_csv('country_profile_variables.csv')

# Clean the dataset of University

In [3]:
df_2017 = uninversity_data_cleaning(df_uni)
df_2017.head()

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1.0,100.0,United States,Cambridge,North America,Private,Very High,4.0,NaN,M,"3,065"
1,Stanford University,2017,2.0,98.7,United States,Stanford,North America,Private,Very High,3.0,NaN,L,"4,725"
2,Harvard University,2017,3.0,98.3,United States,Cambridge,North America,Private,Very High,5.0,NaN,L,"4,646"
3,University of Cambridge,2017,4.0,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,NaN,L,"5,800"
4,California Institute of Technology (Caltech),2017,5.0,96.9,United States,Pasadena,North America,Private,Very High,2.0,692.0,S,968

# Clean the data of country profile

In [4]:
country_profile = country_data_cleaning(country_profile)
country_profile.head()

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864.0,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,NaN,63,5,NaN,NaN,21.43,-99
1,Albania,SouthernEurope,28748.0,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,NaN,84,36,NaN,NaN,2.96,-99
2,Algeria,NorthernAfrica,2381741.0,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,NaN,5900,55,NaN,NaN,0.05,-99
3,American Samoa,Polynesia,199.0,56,278.2,103.6,-99,-99.0,-99.0,-99.0,...,-99.0,92,87.9,-99.0,-99,-99,NaN,NaN,-99.00,-99
4,Andorra,SouthernEurope,468.0,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,NaN,1,119,NaN,NaN,-99.00,-99

# Merge two dataset to one

In [5]:
# Merge two datasets
new_df = merge_dataset(df_2017, country_profile, key='country')
new_df.head()

,university,year,rank_display,score,country,city,region,type,research_output,student_faculty_ratio,...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Massachusetts Institute of Technology (MIT),2017,1.0,100.0,United States,Cambridge,North America,Private,Very High,4.0,...,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
1,Stanford University,2017,2.0,98.7,United States,Stanford,North America,Private,Very High,3.0,...,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
2,Harvard University,2017,3.0,98.3,United States,Cambridge,North America,Private,Very High,5.0,...,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0
3,University of Cambridge,2017,4.0,97.2,United Kingdom,Cambridge,Europe,Public,Very high,4.0,...,92.0,102.0,12.9,NaN,4482.0,116.0,NaN,NaN,-99.0,-99.0
4,California Institute of Technology (Caltech),2017,5.0,96.9,United States,Pasadena,North America,Private,Very High,2.0,...,74.6,1513.0,33.9,NaN,83887.0,289.0,NaN,NaN,-99.0,-99.0

# HeapMap for merged Dataset

In [79]:
heatmap_df = new_df[['rank_display', 'score', 'Population in thousands (2017)', 'Population density (per km2, 2017)',
                    'Sex ratio (m per 100 f, 2017)',
                    'GDP growth rate (annual %, const. 2005 prices)',
                    'GDP per capita (current US$)', 'Economy: Agriculture (% of GVA)',
                    'Employment: Agriculture (% of employed)',
                    'Employment: Industry (% of employed)',
                    'Unemployment (% of labour force)',
                    'Labour force participation (female/male pop. %)',
                    'Agricultural production index (2004-2006=100)',
                    'Population growth rate (average annual %)',
                    'Urban population (% of total population)',
                    'Urban population growth rate (average annual %)',
                    'Fertility rate, total (live births per woman)',
                    'Health: Total expenditure (% of GDP)',
                    'Education: Government expenditure (% of GDP)',
                    'Individuals using the Internet (per 100 inhabitants)']]
correlation_matrix = heatmap_df.corr()

In [80]:
fig = px.imshow(heatmap_df.corr(), text_auto=True, aspect="auto")
fig.update_layout(margin = dict(t=200,r=200,b=200,l=200),
    showlegend = False,
    width = 1000, height = 1000,
    autosize = False )
fig.show()

# Hypothesis: Countries with higher GDP growth rates tend to have higher-ranked universities.

In [81]:
hypothesis_1 = new_df[['country', 'rank_display', 'GDP growth rate (annual %, const. 2005 prices)']]
hypothesis_1.head()

,country,rank_display,"GDP growth rate (annual %, const. 2005 prices)"
0,United States,1.0,2.6
1,United States,2.0,2.6
2,United States,3.0,2.6
3,United Kingdom,4.0,2.2
4,United States,5.0,2.6

In [82]:
hypothesis_1['GDP growth rate (annual %, const. 2005 prices)'].dtype

dtype('float64')

In [83]:
hypothesis_1['rank_display'].dtype

dtype('float64')

#### Clean the data: handle missing values in relevant columns
 We will drop rows where 'rank_display' or 'GDP growth rate (annual %, const. 2005 prices)' is missing

In [84]:
hypothesis_1.dropna(subset=['rank_display', 'GDP growth rate (annual %, const. 2005 prices)'], inplace=True)
hypothesis_1.head()

/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_81677/1282706605.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,country,rank_display,"GDP growth rate (annual %, const. 2005 prices)"
0,United States,1.0,2.6
1,United States,2.0,2.6
2,United States,3.0,2.6
3,United Kingdom,4.0,2.2
4,United States,5.0,2.6

Now we should reindex the dataframe

In [85]:
hypothesis_1.index = range(len(hypothesis_1))
hypothesis_1.head()

,country,rank_display,"GDP growth rate (annual %, const. 2005 prices)"
0,United States,1.0,2.6
1,United States,2.0,2.6
2,United States,3.0,2.6
3,United Kingdom,4.0,2.2
4,United States,5.0,2.6

Aggregate the data by country:

In [86]:
country_agg = hypothesis_1.groupby('country').agg({
    'rank_display': 'mean',  # Average university rank
    'GDP growth rate (annual %, const. 2005 prices)': 'mean'  # Average GDP growth rate
}).reset_index()

country_agg

,country,rank_display,"GDP growth rate (annual %, const. 2005 prices)"
0,Argentina,85.000000,2.4
1,Australia,45.833333,2.4
2,Belgium,79.000000,1.5
3,Canada,50.250000,0.9
4,China (Mainland),41.750000,6.9
5,Denmark,68.000000,1.6
6,Finland,91.000000,0.2
7,France,43.000000,1.3
8,Germany,74.500000,1.7
9,Hong Kong SAR,40.500000,2.4
10,Ireland,98.000000,26.3
11,Japan,53.000000,1.2
12,Netherlands,59.500000,2.0
13,New Zealand,81.000000,3.1
14,Singapore,12.500000,2.0
15,South Korea,65.500000,-1.1
16,Sweden,89.333333,4.1
17,Switzerland,49.250000,0.8
18,United Kingdom,47.722222,2.2
19,United States,43.000000,2.6

Rename columns for clarity:

In [87]:
country_agg.columns = ['country', 'avg_university_rank', 'avg_gdp_growth_rate']
country_agg

             country  avg_university_rank  avg_gdp_growth_rate
0          Argentina            85.000000                  2.4
1          Australia            45.833333                  2.4
2            Belgium            79.000000                  1.5
3             Canada            50.250000                  0.9
4   China (Mainland)            41.750000                  6.9
5            Denmark            68.000000                  1.6
6            Finland            91.000000                  0.2
7             France            43.000000                  1.3
8            Germany            74.500000                  1.7
9      Hong Kong SAR            40.500000                  2.4
10           Ireland            98.000000                 26.3
11             Japan            53.000000                  1.2
12       Netherlands            59.500000                  2.0
13       New Zealand            81.000000                  3.1
14         Singapore            12.500000                  2.0
15       South Korea            65.500000                 -1.1
16            Sweden            89.333333                  4.1
17       Switzerland            49.250000                  0.8
18    United Kingdom            47.722222                  2.2
19     United States            43.000000                  2.6

Use Plotly.io to create graphs:

In [88]:

subject = country_agg['avg_university_rank']
score = country_agg['avg_gdp_growth_rate']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = 'County GDP Growth Rate vs Average University Rank',
    xaxis = dict(
        title = 'Average University Rank',
        range = [0, 100]
                 ),
    yaxis = dict(
        title = 'Average GDP Growth Rate',
        range = [0, 30]
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

Because Ireland seems to be an outlier so we remove Ireland and plot again the rest coutries:

In [89]:

subject = country_agg['avg_university_rank']
score = country_agg['avg_gdp_growth_rate']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = 'County GDP Growth Rate vs Average University Rank',
    xaxis = dict(
        title = 'Average University Rank',
        range = [0, 100]
                 ),
    yaxis = dict(
        title = 'Average GDP Growth Rate',
        range = [0, 10]
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

it seems that singapore is an outlier, so we remove it:

In [90]:

subject = country_agg['avg_university_rank']
score = country_agg['avg_gdp_growth_rate']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = 'County GDP Growth Rate vs Average University Rank',
    xaxis = dict(
        title = 'Average University Rank',
        range = [38, 100]
                 ),
    yaxis = dict(
        title = 'Average GDP Growth Rate',
        range = [0, 10]
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

# Hypothesis: Countries with a higher urban population percentage have universities that perform better in global rankings

In [91]:
hypothesis_2 = new_df[['country', 'rank_display', 'Urban population (% of total population)']]
hypothesis_2.head()

          country  rank_display  Urban population (% of total population)
0   United States           1.0                                      81.6
1   United States           2.0                                      81.6
2   United States           3.0                                      81.6
3  United Kingdom           4.0                                      82.6
4   United States           5.0                                      81.6

#### Clean the data: handle missing values in relevant columns
 We will drop rows where 'rank_display' or 'Urban population (% of total population)' is missing

In [92]:
hypothesis_2.dropna(subset=['rank_display', 'Urban population (% of total population)'], inplace=True)
hypothesis_2.head()

/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_81677/860025795.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          country  rank_display  Urban population (% of total population)
0   United States           1.0                                      81.6
1   United States           2.0                                      81.6
2   United States           3.0                                      81.6
3  United Kingdom           4.0                                      82.6
4   United States           5.0                                      81.6

Now we should reindex the dataframe

In [93]:
hypothesis_2.index = range(len(hypothesis_2))
hypothesis_2.head()

          country  rank_display  Urban population (% of total population)
0   United States           1.0                                      81.6
1   United States           2.0                                      81.6
2   United States           3.0                                      81.6
3  United Kingdom           4.0                                      82.6
4   United States           5.0                                      81.6

In [94]:
# Aggregate the data by country
country_agg = hypothesis_2.groupby('country').agg({
    'rank_display': 'mean',  # Average university rank
    'Urban population (% of total population)': 'mean'  # Average urban population percentage
}).reset_index()
country_agg

             country  rank_display  Urban population (% of total population)
0          Argentina     85.000000                                      91.8
1          Australia     45.833333                                      89.4
2            Belgium     79.000000                                      97.9
3             Canada     50.250000                                      81.8
4   China (Mainland)     41.750000                                      55.6
5            Denmark     68.000000                                      87.7
6            Finland     91.000000                                      84.2
7             France     43.000000                                      79.5
8            Germany     74.500000                                      75.3
9      Hong Kong SAR     40.500000                                     100.0
10           Ireland     98.000000                                      63.2
11             Japan     53.000000                                      93.5
12       Netherlands     59.500000                                      90.5
13       New Zealand     81.000000                                      86.3
14         Singapore     12.500000                                     100.0
15       South Korea     65.500000                                      60.9
16            Sweden     89.333333                                      85.8
17       Switzerland     49.250000                                      73.9
18    United Kingdom     47.722222                                      82.6
19     United States     43.000000                                      81.6

In [95]:
# Rename columns for clarity
country_agg.columns = ['country', 'avg_university_rank', 'avg_urban_population_percentage']
country_agg

             country  avg_university_rank  avg_urban_population_percentage
0          Argentina            85.000000                             91.8
1          Australia            45.833333                             89.4
2            Belgium            79.000000                             97.9
3             Canada            50.250000                             81.8
4   China (Mainland)            41.750000                             55.6
5            Denmark            68.000000                             87.7
6            Finland            91.000000                             84.2
7             France            43.000000                             79.5
8            Germany            74.500000                             75.3
9      Hong Kong SAR            40.500000                            100.0
10           Ireland            98.000000                             63.2
11             Japan            53.000000                             93.5
12       Netherlands            59.500000                             90.5
13       New Zealand            81.000000                             86.3
14         Singapore            12.500000                            100.0
15       South Korea            65.500000                             60.9
16            Sweden            89.333333                             85.8
17       Switzerland            49.250000                             73.9
18    United Kingdom            47.722222                             82.6
19     United States            43.000000                             81.6

Find Correlation between column "avg_rank" and "avg_urban_population_percentage":

In [96]:
# Perform a correlation analysis
correlation = country_agg['avg_university_rank'].corr(country_agg['avg_urban_population_percentage'])
correlation

-0.16787752112043536

Use Plotly.io to create graphs:

In [97]:
subject = country_agg['avg_university_rank']
score = country_agg['avg_urban_population_percentage']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = f'Relationship between Urban Population Percentage and Average University Rank\nCorrelation: {correlation:.2f}',
    xaxis = dict(
        title = 'Average University Rank',
                 ),
    yaxis = dict(
        title = 'Average % Urban Population',
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

# Hypothesis: Higher female participation in the labor force is associated with better university rankings in a country.

In [98]:
hypothesis_3 = new_df[['country', 'rank_display', 'Labour force participation (female/male pop. %)']]
hypothesis_3.head()

,country,rank_display,Labour force participation (female/male pop. %)
0,United States,1.0,NaN
1,United States,2.0,NaN
2,United States,3.0,NaN
3,United Kingdom,4.0,NaN
4,United States,5.0,NaN

#### Clean the data: handle missing values in relevant columns
 We will drop rows where 'rank_display' or 'Labour force participation (female/male pop. %)' is missing

In [99]:
hypothesis_3.dropna(subset=['rank_display', 'Labour force participation (female/male pop. %)'], inplace=True)
hypothesis_3.head()

/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_81677/3465186695.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Empty DataFrame
Columns: [country, rank_display, Labour force participation (female/male pop. %)]
Index: []

try to find info() in this dataframe:

In [100]:
hypothesis_3['Labour force participation (female/male pop. %)'].info()

<class 'pandas.core.series.Series'>
Index: 0 entries
Series name: Labour force participation (female/male pop. %)
Non-Null Count  Dtype
--------------  -----
0 non-null      float64
dtypes: float64(1)
memory usage: 0.0 bytes

So we can not do this Hypothesis, because we don't have any values in 'Labour force participation (female/male pop. %)' column.

# Hypothesis: Countries with higher internet penetration rates have better-ranked universities.

In [101]:
hypothesis_4 = new_df[['country', 'rank_display', 'Individuals using the Internet (per 100 inhabitants)']]
hypothesis_4.head()

,country,rank_display,Individuals using the Internet (per 100 inhabitants)
0,United States,1.0,1513.0
1,United States,2.0,1513.0
2,United States,3.0,1513.0
3,United Kingdom,4.0,102.0
4,United States,5.0,1513.0

#### Clean the data: handle missing values in relevant columns
 We will drop rows where 'rank_display' or 'Individuals using the Internet (per 100 inhabitants)' is missing

In [102]:
# Clean the data: handle missing values in relevant columns
hypothesis_4.dropna(subset=['rank_display', 'Individuals using the Internet (per 100 inhabitants)'], inplace=True)
hypothesis_4.head()

/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_81677/3826405503.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,country,rank_display,Individuals using the Internet (per 100 inhabitants)
0,United States,1.0,1513.0
1,United States,2.0,1513.0
2,United States,3.0,1513.0
3,United Kingdom,4.0,102.0
4,United States,5.0,1513.0

Now we should reindex the dataframe

In [103]:
hypothesis_4.index = range(len(hypothesis_4))
hypothesis_4.head()

,country,rank_display,Individuals using the Internet (per 100 inhabitants)
0,United States,1.0,1513.0
1,United States,2.0,1513.0
2,United States,3.0,1513.0
3,United Kingdom,4.0,102.0
4,United States,5.0,1513.0

In [104]:
# Aggregate the data by country
country_agg = hypothesis_4.groupby('country').agg({
    'rank_display': 'mean',  # Average university rank
    'Individuals using the Internet (per 100 inhabitants)': 'mean'  # Average internet penetration rate
}).reset_index()
country_agg

,country,rank_display,Individuals using the Internet (per 100 inhabitants)
0,Argentina,85.000000,256.0
1,Australia,45.833333,948.0
2,Belgium,79.000000,37.0
3,Canada,50.250000,122.0
4,China (Mainland),41.750000,1080.0
5,Denmark,68.000000,47.0
6,Finland,91.000000,36.0
7,France,43.000000,278.0
8,Germany,74.500000,116.0
9,Hong Kong SAR,40.500000,64.0
10,Ireland,98.000000,50.0
11,Japan,53.000000,404.0
12,Netherlands,59.500000,40.0
13,New Zealand,81.000000,199.0
14,Singapore,12.500000,293.0
15,South Korea,65.500000,78.0
16,Sweden,89.333333,54.0
17,Switzerland,49.250000,74.0
18,United Kingdom,47.722222,102.0
19,United States,43.000000,1513.0

In [105]:
# Rename columns for clarity
country_agg.columns = ['country', 'avg_university_rank', 'avg_internet_penetration']

In [106]:
# Perform a correlation analysis
correlation = country_agg['avg_university_rank'].corr(country_agg['avg_internet_penetration'])
correlation

-0.42014493308889106

Use Plotly.io to create graphs:

In [107]:
subject = country_agg['avg_university_rank']
score = country_agg['avg_internet_penetration']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = f'Relationship between Internet Penetration Rate and Average University Rank\nCorrelation: {correlation:.2f}',
    xaxis = dict(
        title = 'Average University Rank',
                 ),
    yaxis = dict(
        title = 'Average Internet Penetration Rate',
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

It seems that "Singapore" is an outlier and so we remove it :

In [108]:
subject = country_agg['avg_university_rank']
score = country_agg['avg_internet_penetration']

data = [dict(
  type = 'scatter',
  x = subject,
  y = score,
  mode = 'markers',
  text = country_agg['country']
)]

layout = dict(
    title = f'Relationship between Internet Penetration Rate and Average University Rank\nCorrelation: {correlation:.2f}',
    xaxis = dict(
        title = 'Average University Rank',
        range = [40, 100]
                 ),
    yaxis = dict(
        title = 'Average Internet Penetration Rate',
        )
)

fig_dict = dict(data=data, layout=layout)

pio.show(fig_dict, validate=False)

# Hypothesis: Countries with higher government expenditure on education as a percentage of GDP have more universities in the top 100.

Create a new datafram for this hypothesis

In [109]:
# create a dataframe with the relevant columns

def clean_data_dan(new_df):
    df_edu = new_df.copy()
    student_table = df_edu[['country', 'international_students', 'rank_display', 'score', 'type', 'Population in thousands (2017)', 'Sex ratio (m per 100 f, 2017)','GDP per capita (current US$)']]
    student_table['international_students'].replace(',', '', regex=True, inplace=True)
    student_table['international_students'] = pd.to_numeric(student_table['international_students'], errors='coerce')
    student_table = student_table.groupby('country').agg({'international_students': 'sum', 'score': 'mean'})
    student_table.rename(columns={'international_students': 'total_international_students', 'score': 'average_score'}, inplace=True)
    country_table = df_edu.groupby('country').agg({'rank_display': 'count'})
    country_table.rename(columns={'rank_display': 'total_universities ranked in 100'}, inplace= True)
    country_table = country_table.merge(student_table, on='country', how='inner')
    country_table['total_international_students'] = country_table['total_international_students'].astype(int)
    country_table['total_universities ranked in 100'] = country_table['total_universities ranked in 100'].astype(int)
    country_table = country_table[['total_universities ranked in 100', 'total_international_students', 'average_score']]
    country_table['average_score'] = country_table['average_score'].round(2)
    new_country_table = merge_dataset(country_table, country_profile, key='country')
    pd.set_option('display.max_columns', None)
    final_df = new_country_table[['country', 'total_universities ranked in 100', 'total_international_students', 'average_score', 'Region', 'Population in thousands (2017)', 'GDP per capita (current US$)', 'Sex ratio (m per 100 f, 2017)', 'Education: Government expenditure (% of GDP)', 'Fertility rate, total (live births per woman)']]
    final_df= final_df[(final_df['Population in thousands (2017)'] >= 0) & (final_df['Education: Government expenditure (% of GDP)'] >= 0)]
    return final_df

In [116]:
final_df = clean_data_dan(new_df)
final_df

/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_81677/3950428858.py:6: FutureWarning:

A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.



/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_81677/3950428858.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/var/folders/l5/p6r57rz54js0nf3r65vn2xy80000gn/T/ipykernel_81677/3950428858.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,country,total_universities ranked in 100,total_international_students,average_score,Region,Population in thousands (2017),GDP per capita (current US$),"Sex ratio (m per 100 f, 2017)",Education: Government expenditure (% of GDP),"Fertility rate, total (live births per woman)"
0,Argentina,1,0,65.80,SouthAmerica,44271.0,14564.5,95.9,5.3,2.3
1,Australia,6,0,78.62,Oceania,24451.0,51352.2,99.3,5.2,1.9
2,Belgium,1,0,67.90,WesternEurope,11429.0,40277.8,97.3,6.6,1.8
3,Canada,4,0,77.47,NorthernAmerica,36624.0,43205.6,98.5,5.3,1.6
5,Denmark,1,0,70.20,NorthernEurope,5734.0,53149.3,99.0,8.6,1.7
6,Finland,1,0,64.70,NorthernEurope,5523.0,42148.1,97.2,7.2,1.8
7,France,2,374,74.90,WesternEurope,64980.0,36304.2,96.7,5.5,2.0
8,Germany,4,0,68.78,WesternEurope,82114.0,41686.2,97.0,5.0,1.4
9,Hong Kong SAR,4,0,80.18,EasternAsia,7365.0,42431.0,85.1,3.3,1.2
10,Ireland,1,0,62.80,NorthernEurope,4762.0,60513.6,98.4,5.3,2.0
11,Japan,5,0,75.92,EasternAsia,127484.0,34628.7,95.4,3.6,1.4
12,Netherlands,2,0,73.20,WesternEurope,17036.0,44332.1,99.0,5.5,1.7
13,New Zealand,1,0,67.30,Oceania,4706.0,38294.3,96.7,6.4,2.0
14,Singapore,2,0,91.45,South-easternAsia,5709.0,52239.0,97.7,2.9,1.2
16,Sweden,3,0,65.00,NorthernEurope,9911.0,50687.5,100.2,7.7,1.9
17,Switzerland,4,0,79.18,WesternEurope,8476.0,80831.1,98.2,5.1,1.5
19,United Kingdom,18,0,79.18,NorthernEurope,66182.0,44162.4,97.4,5.7,1.9
20,United States,32,692,80.77,NorthernAmerica,324460.0,56053.8,98.0,5.4,1.9

In [117]:
def plot_graph_edu_ranked_uni(final_df):
    fig = px.scatter(final_df, x='Education: Government expenditure (% of GDP)', y='total_universities ranked in 100', color='Region', size='average_score', hover_name='country', title='Total Universities Ranked in 100 vs Total International Students')
    fig.show()

In [118]:
plot_graph_edu_ranked_uni(final_df)

## From the graphy, we can see countries in NorthernEurope such as Denmark, Sweden they spend a lot of budget on Education, However, they dont have more universities ranked in Top 100 compared to US and UK who has more universitis ranked in top 100. Thus the hypothesis is wrong.