In [1]:
import pandas as pd

In [3]:
dataset1 = pd.read_csv('country_profile_variables.csv')
dataset2 = pd.read_csv('qs-world-university-rankings-2017-to-2022-V2.csv')

In [4]:
dataset1

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,Mobile-cellular subscriptions (per 100 inhabitants).1,Individuals using the Internet (per 100 inhabitants),Threatened species (number),Forested area (% of land area),CO2 emission estimates (million tons/tons per capita),"Energy production, primary (Petajoules)",Energy supply per capita (Gigajoules),"Pop. using improved drinking water (urban/rural, %)","Pop. using improved sanitation facilities (urban/rural, %)",Net Official Development Assist. received (% of GNI)
0,Afghanistan,SouthernAsia,652864,35530,54.4,106.3,20270,-2.4,623.2,23.3,...,8.3,42,2.1,9.8/0.3,63,5,78.2/47.0,45.1/27.0,21.43,-99
1,Albania,SouthernEurope,28748,2930,106.9,101.9,11541,2.6,3984.2,22.4,...,63.3,130,28.2,5.7/2.0,84,36,94.9/95.2,95.5/90.2,2.96,-99
2,Algeria,NorthernAfrica,2381741,41318,17.3,102.0,164779,3.8,4154.1,12.2,...,38.2,135,0.8,145.4/3.7,5900,55,84.3/81.8,89.8/82.2,0.05,-99
3,American Samoa,Polynesia,199,56,278.2,103.6,-99,-99,-99.0,-99,...,-99,92,87.9,-99,-99,-99,100.0/100.0,62.5/62.5,-99,-99
4,Andorra,SouthernEurope,468,77,163.8,102.3,2812,0.8,39896.4,0.5,...,96.9,13,34.0,0.5/6.4,1,119,100.0/100.0,100.0/100.0,-99,-99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Wallis and Futuna Islands,Polynesia,142,12,84.1,93.4,-99,-99,-99.0,-99,...,9.0,89,41.6,~0.0/1.6,-99,26,-99,-99,-99,-99
225,Western Sahara,NorthernAfrica,266000,553,2.1,110.1,-99,-99,-99.0,-99,...,-99,49,2.7,-99,-99,-99,-99,-99,-99,-99
226,Yemen,WesternAsia,527968,28250,53.5,102.1,29688,-28.1,1106.4,14.7,...,25.1,298,1.0,22.7/0.9,668,12,72.0/46.5,92.5/34.1,2.99,-99
227,Zambia,EasternAfrica,752612,17094,23.0,98.5,21255,2.9,1311.1,8.2,...,21.0,88,65.6,4.5/0.3,374,26,85.6/51.3,55.6/35.7,3.96,-99
228,Zimbabwe,EasternAfrica,390757,16530,42.7,95.0,13893,1.1,890.4,13.0,...,16.4,89,37.2,12.0/0.8,482,30,97.0/67.3,49.3/30.8,6.00,-99

In [5]:
dataset2

,university,year,rank_display,score,link,country,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Massachusetts Institute of Technology (MIT),2017,1,100.0,https://www.topuniversities.com/universities/m...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,4.0,"3,730",M,"3,065"
1,Stanford University,2017,2,98.7,https://www.topuniversities.com/universities/s...,United States,Stanford,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,3.0,"3,879",L,"4,725"
2,Harvard University,2017,3,98.3,https://www.topuniversities.com/universities/h...,United States,Cambridge,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,5.0,"5,877",L,"4,646"
3,University of Cambridge,2017,4,97.2,https://www.topuniversities.com/universities/u...,United Kingdom,Cambridge,Europe,https://www.topuniversities.com/sites/default/...,Public,Very high,4.0,"7,925",L,"5,800"
4,California Institute of Technology (Caltech),2017,5,96.9,https://www.topuniversities.com/universities/c...,United States,Pasadena,North America,https://www.topuniversities.com/sites/default/...,Private,Very High,2.0,692,S,968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6477,Université de Tunis,2022,1201,NaN,https://www.topuniversities.com/universities/u...,Tunisia,Tunis,Africa,https://www.topuniversities.com/sites/default/...,Public,High,17.0,57,L,"1,174"
6478,Université de Tunis El Manar,2022,1201,NaN,https://www.topuniversities.com/universities/u...,Tunisia,Tunis,Africa,https://www.topuniversities.com/sites/default/...,Public,Very High,8.0,585,L,"3,504"
6479,Yarmouk University,2022,1201,NaN,https://www.topuniversities.com/universities/y...,Jordan,Irbid,Asia,https://www.topuniversities.com/sites/default/...,Public,Medium,31.0,"2,826",XL,"1,113"
6480,Yildiz Technical University,2022,1201,NaN,https://www.topuniversities.com/universities/y...,Turkey,Istanbul,Asia,https://www.topuniversities.com/sites/default/...,Public,High,20.0,"2,394",XL,"1,688"
6481,Zagazig University,2022,1201,NaN,https://www.topuniversities.com/universities/z...,Egypt,Zagazig,Africa,https://www.topuniversities.com/sites/default/...,Public,High,26.0,"2,300",XL,"5,871"

In [6]:
dataset3 = pd.merge(dataset1, dataset2, on='country')
dataset3

,country,Region,Surface area (km2),Population in thousands (2017),"Population density (per km2, 2017)","Sex ratio (m per 100 f, 2017)",GDP: Gross domestic product (million current US$),"GDP growth rate (annual %, const. 2005 prices)",GDP per capita (current US$),Economy: Agriculture (% of GVA),...,link,city,region,logo,type,research_output,student_faculty_ratio,international_students,size,faculty_count
0,Argentina,SouthAmerica,2780400,44271,16.2,95.9,632343,2.4,14564.5,6.0,...,https://www.topuniversities.com/universities/u...,Buenos Aires,Latin America,https://www.topuniversities.com/sites/default/...,Public,Very High,7.0,"29,516",XL,"16,103"
1,Argentina,SouthAmerica,2780400,44271,16.2,95.9,632343,2.4,14564.5,6.0,...,https://www.topuniversities.com/universities/u...,Pilar,Latin America,https://www.topuniversities.com/sites/default/...,Private,High,7.0,334,S,663
2,Argentina,SouthAmerica,2780400,44271,16.2,95.9,632343,2.4,14564.5,6.0,...,https://www.topuniversities.com/universities/p...,Buenos Aires,Latin America,https://www.topuniversities.com/sites/default/...,Private,Medium,4.0,"1,063",L,"3,805"
3,Argentina,SouthAmerica,2780400,44271,16.2,95.9,632343,2.4,14564.5,6.0,...,https://www.topuniversities.com/universities/u...,Buenos Aires,Latin America,https://www.topuniversities.com/sites/default/...,Private,Medium,6.0,758,M,810
4,Argentina,SouthAmerica,2780400,44271,16.2,95.9,632343,2.4,14564.5,6.0,...,https://www.topuniversities.com/universities/u...,Buenos Aires,Latin America,https://www.topuniversities.com/sites/default/...,Private,Medium,6.0,2.049,M,833
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4559,Uruguay,SouthAmerica,173626,3457,19.8,93.5,53442,1.0,15573.8,6.8,...,https://www.topuniversities.com/universities/u...,Montevideo,Latin America,https://www.topuniversities.com/sites/default/...,Public,High,12.0,2.166,XL,6.407
4560,Uruguay,SouthAmerica,173626,3457,19.8,93.5,53442,1.0,15573.8,6.8,...,https://www.topuniversities.com/universities/u...,Montevideo,Latin America,https://www.topuniversities.com/sites/default/...,Private,Low,7.0,76,S,295
4561,Uruguay,SouthAmerica,173626,3457,19.8,93.5,53442,1.0,15573.8,6.8,...,https://www.topuniversities.com/universities/u...,Montevideo,Latin America,https://www.topuniversities.com/sites/default/...,Private,High,6.0,62,S,620
4562,Uruguay,SouthAmerica,173626,3457,19.8,93.5,53442,1.0,15573.8,6.8,...,https://www.topuniversities.com/universities/u...,Montevideo,Latin America,https://www.topuniversities.com/sites/default/...,Public,High,12.0,2.166,XL,6.407
4563,Uruguay,SouthAmerica,173626,3457,19.8,93.5,53442,1.0,15573.8,6.8,...,https://www.topuniversities.com/universities/u...,Montevideo,Latin America,https://www.topuniversities.com/sites/default/...,Private,Medium,7.0,68,S,602